# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build diretory
build/

#VSCode
.vscode

# Python
*.egg-info/
dist/
__pycache__/

#compiled libraries
extern/


#Models, logging and configs
models/
bin/
experiments/runs
experiments/*.toml
experiments/*.txt

# File used to customise bash on startup, 
# see https://gist.github.com/scmx/242caa249b0ea343e2588adea14479e6
.docker-prompt


